            body{
                background-color:beige;
            }
            
            h1{
                font-family: cursive;
                color:beige;
                font-size:65px;
                background-color:cornflowerblue; width:600px; 
                text-align:center;
                border-radius: 15px;
            }
            
            h2{
                font-family:cursive;
                font-size:28px;
                color:dimgray;
            }
            
            #special{
                font-size: 25px;
                color: cornflowerblue;
                text-align:right;
            }
            